@import url('https://fonts.googleapis.com/css?family=Alegreya');
@font-face {
    font-family: 'Optician Sans';
    src: local('OpticianSans'), url(/Optician-Sans.otf) format('OpenType');
}
html,
body {
    font-family: 'Optician Sans';
    margin: 0px;
    font-size: 16px;
    text-align: justify;
}
h4 {
    margin: 5px;
}
a {
    color: inherit;
    text-decoration: inherit;
}
.app {
    background-color: rgba(249,249,249);
}
.nav-logo {
    margin: auto;
    font-size: 15px;
}
.nav-container {
    margin: auto;
    padding: 20px;
}
.nav-container-auth {
    position: absolute;
}
.navbar {
    margin: auto;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,.2);
}
.navbar:hover {
    background-color: #1b1b1b;
}
.feedbackTitle {
    text-align: center;
}
.scroll-up-icon {
    position: fixed;
    transform: rotate(180deg);
    right: 1%;
    bottom: 5%;
    z-index: 1;
    color: #999999;
}
.scroll-up-icon:active {
    opacity: .7;
}
.menu-icon {
    position: absolute;
}
.menu-contact {
    position: absolute;
    right: 0;
    padding: 12px;
}
.header {
    position: relative;
    width: 100%;
}
.header-motto {
    position: absolute;
    text-align: center;
    width: 100%;
    margin: auto;
    color: white;
}
.footer {
    margin: auto;
    text-align: center;
    /* position: absolute;
    bottom: 0;
    width: 100%; */
}
.homepage {
    position: relative;
    color: #1b1b1b;
}
.welcome-header {
    text-align: center;
}
.welcome {
    margin: auto;
    text-align: justify;
    position: relative;
    padding: 10px;
    width: 80%;
}
.insurance {
    margin: auto;
    text-align: center;
    position: relative;
    padding: 10px;
    width: 90%;
}
.googleApi {
    margin: auto;
    text-align: center;
    position: relative;
    padding: 10px;
}
.partnerLogo {
    max-width: 150px;
    max-height: 50px;
}
.map {
    overflow: hidden;
    background: none !important;
}
.service {
    width: 90%;
    max-width: 700px;
    margin: 100px auto 100px auto;
    line-height: 24px;
}
.about {
    width: 90%;
    max-width: 700px;
    margin: 100px auto 100px auto;
    line-height: 24px;
}
.about-left {
    position: absolute;
    width: 100%;
    max-width: 500px;
    height: 100%;
    left: 20px;
    background-size: cover;
}
.admin {
    width: 90%;
    margin: 100px auto 100px auto;
    line-height: 24px;
}
.privacyPolicy {
    width: 90%;
    max-width: 700px;
    margin: 100px auto 100px auto;
    line-height: 24px;
}
.contact {
    width: 90%;
    max-width: 1000px;
    margin: 100px auto 100px auto;
    line-height: 24px;
}
.contact-card {
    margin: 10px;
    height: 175px;
    text-align: center;
}
.termCondition {
    width: 90%;
    max-width: 700px;
    margin: 100px auto 100px auto;
    line-height: 24px;
}
.login {
    width: 90%;
    margin: 30px auto 30px auto;
    line-height: 24px;
}
@media (max-width:500px) {
    .navbar {
        position: absolute;
        top: 0px;
    }
    .menu-icon {
        position: relative;
        text-align: center;
    }
    .menu-contact {
        position: relative;
        text-align: center;
    }
}