html,
body {
    font-family: 'Futura';
    margin: 0px;
    font-size: 20px;
    text-align:justify;
}
.nav-logo {
    margin: auto;
    font-size: 15px;
}
.nav-container {
    margin: auto;
    padding: 20px;
}
.navbar {
    margin: auto;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}
.navbar:hover {
    background-color: #1b1b1b;
}
.menu-icon {
    position:absolute;
}
.menu-contact {
    position:absolute;
    right: 0;
    padding: 12px;
}
.header {
    background: transparent url(assets/img/header.png) no-repeat;
    position: relative;
    width: 100%;
}
.header-motto {
    text-align: center;
    margin: auto;
    color: white;
}
.footer {
    margin: auto;
    text-align: center;
}
.homepage {
    position: relative;
    color: #1b1b1b;
}
.googleApi {
    margin: auto;
    text-align: center;
    position: relative;
    padding: 10px;
}
.insurance {
    margin: auto;
    text-align: center;
    position: relative;
    padding: 10px;
}
.map {
    overflow: hidden;
    background: none !important;
}
.privacyPolicy {
    margin: 50px 300px 50px 300px;
}
.termCondition {
    margin: 50px 300px 50px 300px;
}
@media (max-width:1000px) {
    .homepage {
        color: #1b1b1b;
    }
}
@media (max-width:500px) {
    .navbar {
        position: absolute;
        top: 0px;
    }
    .menu-icon {
        position: relative;
        text-align: center;
    }
    .menu-contact {
        position: relative;
        text-align: center;
    }
}